Source: carta-beta
Section: metapackages
Priority: optional
Maintainer: Adrianna Pińska <adrianna.pinska@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
Homepage: https://github.com/CARTAvis/carta
Vcs-Git: https://github.com/idia-astro/carta-beta-deb.git
Vcs-Browser: https://github.com/idia-astro/carta-beta-deb

Package: carta-beta
Architecture: all
Depends: carta-backend-beta (>= 2021.3.5),
         carta-frontend-beta (>= 2021.3.5),
         ${misc:Depends}
Description: CARTA - Cube Analysis and Rendering Tool for Astronomy
 CARTA is a next generation image visualization and analysis tool designed for ALMA, VLA, and SKA pathfinders.
 .
 This metapackage installs the development versions of the backend and frontend components.
